html {
    background-color: rgb(55, 55, 55);
    color: lightgrey;
}

body {
    text-align: center;
}

form {
    width: 100%;
    display:inline-block;
}

.formtextfield {
    min-width: 100px;
    width: 30%;
    max-width: 800px;
}