html {
    background-color:#71f583;
    color: #f08355;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.centered{
    text-align: center;
    margin: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40;
    width: 80%;
}

button, .button{
    display: inline-block;
    color: #f08355;
    background-color: #a0fcac;
    border: none;
    width: 200px;
    padding: 20 30;
}

input, select {
    margin-top: 3px;
    margin-bottom: 5px;
}

th {
    background-color: #219c31;
    padding: top 3px;
}

tr:nth-child(even) {
    background-color: #4be05f;
}

tr:nth-child(odd) {
    background-color: #3ec24f;
}

form {
    width: 100%;
    display: inline-block;
    text-align: center;
}

fieldset {
    min-width: 100px;
    width: 30%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 6;
}

.fieldsettextfield {
    min-width: 100px;
    width: 100%;
    max-width: 800px;
}

.formtextfield {
    min-width: 100px;
    width: 30%;
    max-width: 800px;
}